# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtualenv
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
dist/
build/

# Env files
.env

# Telethon sessions
*.session
*.session-journal

# SQLite databases
*.db

# macOS
.DS_Store


# Logs
*.log
logs
